node_modules
.nuxt
dist
.cache
.env
.env.*
!.env.example
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.vercel
.netlify
out
build
.idea
*.swp
*.swo
*~
.history
